Options -Indexes

<FilesMatch "\.(php|php3|php4|php5|phtml|phar|cgi|pl|asp|aspx|jsp|sh|bat|cmd|exe|dll|jar)$">
    Require all denied
</FilesMatch>

RemoveHandler .php .php3 .php4 .php5 .phtml .phar .cgi .pl .asp .aspx .jsp
RemoveType .php .php3 .php4 .php5 .phtml .phar .cgi .pl .asp .aspx .jsp

